version: "3.8"
services:
  web:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=${VITE_API_URL}
    restart: always

  api:
    build: ./server
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - db
    restart: always

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - resume_data:/data/db
    restart: always

volumes:
  resume_data: