name: Deploy to EC2

on:
  push:
    branches: [ implement-ci/cd ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/ResumeEdge
            git pull origin main
            echo "${{ secrets.ENV_FILE }}" > .env
            
            # The '--build' flag is the secret to seeing your changes!
            docker compose up -d --build
            
            # This cleans up old, unused versions to save space
            docker system prune -f